{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <style>
  .hello-msg{
    font-size: 18px;
    color: #fff;
    margin-right: 20px;
  }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">

    <ul class="navbar-nav">


      <li class="nav-item active">
          <a class="nav-link" href="./insertinput/">click here to insert</a>
      </li>
      <li>
          <a class="nav-link" href="./display/">click here to display</a>
      </li>

      <li class="nav-item">
          <a class="nav-link" href="./updateinput/">click here to update</a>
      </li>

      <li class="nav-item">
          <a class="nav-link" href="./deleteinput/">click here to delete</a>
      </li>

    </ul>
  </div>

      <span class="nav-item">
          <a class="nav-link" href="./aboutus/">About Us</a>
      </span>
      <span class="nav-item">
          <a class="nav-link" href="./contactus/"><i class="fa-fa-phone"></i> Contact Us</a>
      </span>

</nav>

</body>