<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body bgcolor="#00ffff">
<form action="./insert/" method="get">
    {% csrf_token %}
    <center>
    <table bgcolor="gray">
       <tr><td>Enter Pid:</td><td><input type="text" name="t1" ></td></tr>
        <tr><td>Enter Pname:</td><td><input type="text" name="t2" ></td></tr>
       <tr><td>Enter Pcost:</td><td><input type="text" name="t3" ></td></tr>
       <tr><td>Enter Pmfdt:</td><td><input type="text" name="t4" ></td></tr>
       <tr><td>Enter Pexpdt:</td><td><input type="text" name="t5" ></td></tr>
        <tr><td colspan="2" align="center"><input type="submit" value="insert" ></td></tr>
    </table>
        </center>
</form>

</body>
</html>